<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/favoriteList.css' />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="logo">Dream boarding house</div>
        <nav>
          <ul class="nav-bar">
            <li class="nav-item">
              <a href="" class="nav-link">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">ĐĂNG TIN</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">QUẢN LÝ THÔNG TIN</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">DANH SÁCH YÊU THÍCH</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">THÔNG BÁO</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="favorite-list">
        <h3>Danh sách phòng yêu thích của bạn</h3>
        <div class="list-room">
          <%if(listRoom.length>0) {%>
            <%for(let i=0; i<listRoom.length; i++) {%>
              <div class="room">
                <div class="image-room">
                  <img src="https://images.cenhomes.vn/2020/03/1585033149-can-ho-mau-charmington-iris.jpg" alt="">
                </div>
                <h3 class="type"><%=listRoom[i].type%></h3>
                <div class="acreage"><%=listRoom[i].acreage%></div>
                <div class="address"><%=listRoom[i].address%></div>
                <div class="description"><%=listRoom[i].description%></div>
                <form action="/favoriteList/room/unlike/<%=listRoom[i]._id%>" method="DELETE">
                  <input type="submit" value="Bỏ yêu thích" class="btn-unlike"/>
                </form>
              </div>
            <%}%>
          <%} else {%>
            <div>Bạn chưa có danh sách phòng yêu thích</div>
          <% } %>
          </div>
      </div>
      <footer>
        <div>Copyright @C2SE.14</div>
      </footer>
    </div>
  </body>
</html>
